# SEPSIS PREDICTION API USING FASTAPI

Sepsis is a severe medical condition that occurs when the body's response to an infection causes inflammation throughout the body. It is often referred to as a "systemic inflammatory response syndrome (SIRS)" due to infection. Sepsis can lead to organ dysfunction or failure, which can be life-threatening.

Sepsis is a medical emergency that requires immediate medical attention and intensive care management. Early recognition, appropriate antibiotic therapy, and supportive care can significantly improve outcomes for patients with sepsis.

 # BUSINESS UNDERSTANDING

  ### PROJECT GOAL

Building a sepsis prediction app using machine learning which aims to leverage data and predictive analytics to improve early detection and management of sepsis, a life-threatening condition caused by the body's response to an infection.

The primary goal is to assist healthcare professionals in identifying patients at risk of developing sepsis early on, allowing for timely intervention and improved patient outcomes.

The inputs are patients' information, including vital signs, laboratory values and demographics. The output is the results whether the model predicts the patient has sepsis or not.

   ### HYPOTHESIS AND KEY ANALYTICAL QUESTIONS

 Null Hypothesis (H0):        There is no significant association between the patient’s age and the likelihood of getting sepsis.

Alternative Hypothesis (H1):  There is a significant association between the patient’s age and the likelihood of getting sepsis.

1.How many patients have the tendency of developing sepsis?

2.Which age group are more prone to developing sepsis?

3.Does having an insurance policy enhance patients chances of getting sepsis?

4.Is body mass directly correlated with a patients tendency to get sepsis?

5.Does the blood parameters have an association with sepsis?

 # DATA UNDERSTANDING

IMPORTATION OF LIBRARIES AND PACKAGES

In [4]:
# Importation of Relevant Libraries
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Statistical Analysis
from scipy.stats import chi2_contingency

# Feature Processing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

# Machine Learning Models
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC


# Model Evaluation
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, f1_score, make_scorer
from sklearn.model_selection import GridSearchCV

# Model Saving
import pickle

# Other Packages
import random
import warnings

## Overview of Dataset

ID  :Unique number to represent patient ID

PRG	:Plasma glucose level

PL	:Blood Work Result-1 (mu U/ml)

PR  :Blood Pressure (mm Hg)

SK	:	Blood Work Result-2 (mm)

TS	:	Blood Work Result-3 (mu U/ml)

M11	:	Body mass index (weight in kg/(height in m)^2

BD2	:	Blood Work Result-4 (mu U/ml)

Age	:	patients age (years)

Insurance :	Indication of whether a patient holds a valid insurance card

Sepsis	:	Indication whether the patient has sepsis(positive) or not(negative)

## Load the Datasets

In [6]:


# Load the data using a relative path
df_test = pd.read_csv('Paitients_Files_Test.csv')
df_train = pd.read_csv('Paitients_Files_Train.csv')

In [7]:
df_train

            ID  PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance   Sepssis
0    ICU200010    6  148  72  35    0  33.6  0.627   50          0  Positive
1    ICU200011    1   85  66  29    0  26.6  0.351   31          0  Negative
2    ICU200012    8  183  64   0    0  23.3  0.672   32          1  Positive
3    ICU200013    1   89  66  23   94  28.1  0.167   21          1  Negative
4    ICU200014    0  137  40  35  168  43.1  2.288   33          1  Positive
..         ...  ...  ...  ..  ..  ...   ...    ...  ...        ...       ...
594  ICU200604    6  123  72  45  230  33.6  0.733   34          0  Negative
595  ICU200605    0  188  82  14  185  32.0  0.682   22          1  Positive
596  ICU200606    0   67  76   0    0  45.3  0.194   46          1  Negative
597  ICU200607    1   89  24  19   25  27.8  0.559   21          0  Negative
598  ICU200608    1  173  74   0    0  36.8  0.088   38          1  Positive

[599 rows x 11 columns]